@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.nav-item {
  margin-left: 50px;
}

.navbar {
  z-index: 1;
}

#home {
  margin-left: 550px;
}

.containerr {
  margin: auto;
  max-width: 950px;
  background-color: white;
  border: 40px solid white;
}

section.img {
  min-height: 500px;
  background-color: gray;
  background-size: cover;
  filter: blur(2px);
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-image: url("/perikanan/img/wallpaperbetter.com_1920x1200.jpg");
    background-size: cover;
  }

  20% {
    background-image: url("/perikanan/img/wallpaperbetter.com_1920x1200.jpg");
    background-size: cover;
  }

  40% {
    background-image: url("/perikanan/img/nelayan-56bd51c491fdfdfe0d042df5.jpg");
    background-size: cover;
  }

  60% {
    background-image: url("/perikanan/img/nelayan-56bd51c491fdfdfe0d042df5.jpg");
    background-size: cover;
  }

  80% {
    background-image: url("/perikanan/img/ikan-tawar-130917-hnd-1.jpg");
    background-size: cover;
  }

  100% {
    background-image: url("/perikanan/img/ikan-tawar-130917-hnd-1.jpg");
    background-size: cover;
  }
}

.slider-container {
  background-color: grey;
  opacity: 100%;
  height: 50vh;
  width: 60vw;
  z-index: 0;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 18vh;
  left: 20vw;
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.16), 0 13px 16px rgba(0, 0, 0, 0.23);
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

section.penghantar {
  min-height: 650px;
  background-color: rgb(238, 238, 238);
}

ol li p {
  font-size: 18px;
}

section.informasi {
  margin-top: -130px;
  min-height: 650px;
  background-color: rgb(238, 238, 238);
}

section.informasi1 {
  min-height: 650px;
  background-color: rgb(238, 238, 238);
}

section.tutorial {
  background-color: #eee;
  padding-top: 40px;
  min-height: 650px;
}

section.about {
  padding-top: 40px;
  min-height: 650px;
}

section.footer {
  background-color: rgba(0, 0, 0, 0.911);
  margin-top: 10px;
  min-height: 50px;
}

a:link {
  text-decoration: none;
}

.row {
  padding-top: 40px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

p {
  text-align: justify;
  font-size: 18px;
  font-family: "Karla", sans-serif;
}

h5 {
  padding-top: 10px;
}
